<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/sivnews.css" %}">
  </head>
  <body>
    <h1>SIVAJI MOVIES INFORMATION.... HEADLINES OF THE TODAY</h1><hr>
    <ul>
      <li>{{news1}}</li>
      <li>{{news2}}</li>
      <li>{{news3}}</li>
      <li>{{news4}}</li>
    </ul>
    <img src="{%static "images/devdas.jpg"%}">
    <img src="{%static "images/sonali.jpg"%}">
    <img src="{%static "images/thugs.jpg"%}">
    <img src="{%static "images/salman.jpg"%}">
    <h2>Not good Devdas movie public talk</h2>
    <p>Devadas is a 2018 Indian Telugu-language action comedy film produced by C. Ashwini Dutt under Vyjayanthi Movies banner and directed by Sriram Adittya. The film stars Nagarjuna Akkineni, Nani, Aakanksha Singh, Rashmika Mandanna and music composed by Mani Sharma. It was released on 27 September 2018.[3] It is dubbed in Hindi as Don Aur Doctor by Zee Studios in November 2019. Devadas certainly has its moments with some cracking humour and solid performances by its two stars. A tad too long, with some avoidable melodrama and a weak climax prove to be troublesome, but it doesn't take it away from a hilarious first half which makes it worth your while. If you're somebody who enjoys Nani's brand of humour - Devadas is a must-watch.</p>
    <h2>Getting curing Sonali Bindre</h2>
    <p>Actress Sonali Bendre, who was diagnosed with metastatic cancer last year, has time and again shared the story of her ordeal. Recently, the actress revealed that the treatment for cancer is actually more painful than the disease. She said that early detection is the most important as then the treatment would have been less painful. Right now the disease is less scary the treatment is actually more frightening and painful. The 44-year-old actor said that after her diagnosis, she discovered that some of her family members also had cancer which makes her emphasise on an open discussion about the disease.</p>
    <h2>Amithab signs for Thugs of Hindustan</h2>
    <p>Thugs of Hindostan is a 2018 Indian Hindi-language action-adventure film written and directed by Vijay Krishna Acharya, and produced by Aditya Chopra under his banner Yash Raj Films. The film stars Amitabh Bachchan, Aamir Khan, Katrina Kaif and Fatima Sana Shaikh. Set during the period of Company rule in India, the film follows a small-time thug from Awadh, Firangi Mallah, who is sent by an East India Company official to infiltrate and counter a band of thugs.[5]
    Produced on an estimated budget of ₹220 crore (US$31 million),[2] Thugs of Hindostan is one of the most expensive Bollywood films.[6] Initially titled Thug, the film marked the first time Khan and Bachchan featured together as leads, and was the second collaboration between Khan, Acharya and Kaif, after Dhoom 3 (2013). Principal photography commenced on 5 June 2017 in Malta; the film was also shot in Thailand and Mehrangarh. It was put on a short hiatus after Bachchan was injured on set.   Filming concluded in March 2018, the final schedule being completed in Rajasthan. The soundtrack was composed by Ajay-Atul, with lyrics written by Amitabh Bhattacharya</p>
    <h2>Moving to go to get Marry Salman & Katrina</h2>
    <p>It is an open secret in Bollywood circles that Salman Khan and Katrina Kaif used to be in a relationship at one point. According to the grapevine, the two dated for four years before calling it quits in 2009.
    Even though Salman and Katrina have parted ways, there is absolutely no bad blood between them. They are still great friends and even refer to each other as "family".
    Salman continues to be the most eligible bachelor in B-Town and fans are hoping that he settles down with Katrina. During a recent interview, Katrina was told about a fan who commented on her Instagram post and requested her to marry Salman.
    Interestingly, all the actress was willing to say was, "Hmmmm..."</p>
    
  </body>
</html>
