<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/sivnews.css" %}">
  </head>
  <body>
    <h1>SIVAJI POLITICS NEWS INFORMATION.... HEADLINES OF THE TODAY</h1><hr>
    <ul>
      <li>{{news1}}</li>
      <li>{{news2}}</li>
      <li>{{news3}}</li>
      <li>{{news4}}</li>
    </ul>
    <img src="{%static "images/ammavodi.jpg"%}">
    <img src="{%static "images/pavan.jpg"%}">
    <img src="{%static "images/collector.jpg"%}">
    <img src="{%static "images/nimma.jpg"%}">
    <h2>Ammavodibenificers got 14000 rupees</h2>
    <p>Amma Vodi scheme was launched by the Chief Minister of Andhra Pradesh state is Mr. YSR Jagan Mohan Reddy and through the implementation of the scheme, many incentives were been given to the students of the government school in Andhra Pradesh. Today under this article, we will share with you all of the other details related to the Amma Vodi scheme such as the final beneficiary list of Phase I which has been declared by the concerned authorities on 27th December 2019. In this article, we have provided a step-by-step guide through which you can check your name on the beneficiary list.</p>

    <h2>Pavan kalyan interacted with Prime Minister</h2>
    <p>The meeting that took place at the official residence of Mr. Modi lasted about an hour with the latter’s top aides present for most of the time. Mr. Kalyan, however, had a one-to-one confabulation with Mr. Modi for 15 minutes, the contents of which were not known. A JSP leader described the meeting as one of mutual admiration, with both leaders praising each other’s thought process and concern for people of both Telangana and Seemandhra regions. The leaders said to have agreed that a
      coordinated effort was required to develop both the regions, for which the first step would be to chalk out a comprehensive plan for all-round development. Mr. Kalyan is understood to have said that he was meeting Mr. Modi on behalf of the Telugu-speaking people and pointed</p>

     <h2>No COVID cases in kadapa says Collector</h2>
     <p>The top two are followed by Kadapa (9), Pulivendula and Badvel (4), Mydukur (3), Vempalli (2) and Kamalapuram, C.K.Dinne and Chennur registering one case each. Of the 65 cases, 28 were discharged after undergoing treatment. As many as seven cases were recorded from various places on Tuesday.
      Coinciding with Ramzan month, Deputy Chief Minister S.B. Amzath Basha held a meeting through videoconference with owners of meat outlets, when he fixed the price of a kilogram of mutton at ₹700.</p>

     <h2>Complaint Against SEC Nimmagadda</h2>
     <p>A complaint has been filed against Andhra Pradesh SEC Nimmagadda Ramesh Kumar at Suryaraopeta police station. AP Public Court President B Srinivasa Rao has lodged a complaint against Nimmagadda for cheating the government by taking the house rent allowance every month. In the complaint, Srinivasa Rao said that action should be taken against Nimmagadda who is staying in Hyderabad instead of Vijayawada.
   A complaint has been filed against Andhra Pradesh SEC Nimmagadda Ramesh Kumar at Suryaraopeta police station. AP Public Court President B Srinivasa Rao has lodged a complaint against Nimmagadda for cheating the government by taking the house rent allowance every month. In the complaint, Srinivasa Rao said that action should be taken against Nimmagadda who is staying in Hyderabad instead of Vijayawada."</p>




  </body>
</html>
