<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/sivnews.css" %}">
  </head>
  <body>
    <h1>SIVAJI SPORTS NEWS INFORMATION.... HEADLINES OF THE TODAY</h1><hr>
    <ul>
      <li>{{news1}}</li>
      <li>{{news2}}</li>
      <li>{{news3}}</li>
      <li>{{news4}}</li>
    </ul>

    <img src="{%static "images/vihari.jpg"%}">
    <img src="{%static "images/badminton.jpg"%}">
    <img src="{%static "images/rohit.jpg"%}">
    <img src="{%static "images/border.jpg"%}">

    <h2>Remarkable innings between Vihari & Ashwin</h2>
    <p>It was clear communication between the two that both R Ashwin and Hanuma Vihari singled out as the backbone of their record stonewalling effort that denied Australia the Test victory in Sydney and the series lead.
     Although their alliance was only 62 runs, Ashwin and Vihari battled for 256 deliveries, the fourth-longest partnership recorded for the sixth wicket in the fourth innings of a Test in a win or a draw. Both players faced equal number of deliveries, 128, and the vigil earned Ashwin the honour of being ranked fifth on the list of most balls faced by an India No. 7 in the fourth innings.
      The most remarkable aspect of the partnership was that Ashwin was battling a bad back while Vihari had to bat with a strapped right hamstring, which he suffered early in his innings while completing a single. Yet both men swallowed the pain and relentless questioning from the world's best Test bowling attack to return wounded, but undefeated.
     Little wonder then Ashwin said the pair was "numb and blank" recounting one of the best days witnessed in modern Test cricket despite the result being a draw. "It was really, really special," Ashwin told bcci.tv after the match on Monday. "In fact, both of us went numb and blank for a while; we didn't even celebrate towards the end because we didn't know what to make of it."</p>

     <h2>PV Sindhu Won the world Badminton title</h2>
     <p>On August 25, 2019 PV Sindhu provided a long-awaited moment for Indian badminton when she beat Nozomi Okuhara of Japan to win gold at the BWF World Championships.
     It made her the first Indian to win the prestigious badminton world championships since its inception in 1977, and also helped her equal two-time Olympic gold medallist Zhang Ning’s record of five medals at the event.
     In fact, even the colour of their medals are the same – two bronze, two silver and one gold.
     “Each match was important for me and every point too,” PV Sindhu had said later, summing up the tournament.
     The first of these matches was against Taiwan’s Yu-Po Pai.
     Without being too aggressive, the Indian shuttler began her campaign with a 21-14, 21-15 win. Focused on placing her shots, she did not have to make much use of her trademark smashes and displayed great judgment on the baseline.
     The first display of her tremendous form came in the pre-quarter final against American shuttler Beiwen Zhang, an opponent she had fallen to in the finals of the India Open in 2018.
     PV Sindhu brought out all the stops in the 34-minute clash, judiciously using her smashes to never concede her lead after 5-5 in the first game.
     The second one was even better as the Indian badminton star only allowed Beiwen Zhang a sniff at 1-1, and gave away just six points in the entire game to ease into the quarter-finals with a 21-14, 21-6 victory.</p>

     <h2>Cricketer Rohit Sharma visited Lord Tirumala Balaji temple</h2>
     <p>Devotees at Tirumala Tirupati Devasthanam were in for a surprise on Thursday when they bumped into Rohit Sharma, his wife Ritika Sajdeh and their three-month-old daughter Samaira waiting in queue for a darshan of Lord Venkateswara Swamy. Soon, hoards of fans circled the cricketer requesting for selfies. The TTD officials later made special arrangements for the cricketer and his family for the darshan and were soon escorted out of the temple.</p>

    <h2>India Won Border-Gavaskar Trophy2021</h2>
    <p>India beat Australia 2-1 in the 2020-2021 Border Gavaskar Trophy in what is being widely described as their greatest Test series win in history. What defined India's performance Down Under after the 36 all-out debacle in Adelaide, was the courage and fightback shown by the team as a whole. Facing adversities, injuries, loss of best batsman and the entire bowling unit, controversies, racial abuse, quarantine protocols, India somehow, from somewhere, found strength and self-belief and came back, not once, not twice but several times from difficult and under-pressure situations with new heroes emerging throughout the series.
    Top Fightback Moments For India in Border-Gavaskar Trophy 2020-2021
    India beat Australia 2-1 in the 2020-21 Border-Gavaskar Trophy in what is being widely described as their greatest Test series win in history. What defined India's performance Down Under after the 36 all-out debacle in Adelaide, was the courage and fightback shown by the team as a whole. Facing adversities, injuries, loss of best batsman and the entire bowling unit, controversies, racial abuse, quarantine protocols, India somehow, from somewhere, found strength and self-belief and came back, not once, not twice but several times from difficult and under-pressure situations with new heroes emerging throughout the series.</p>

   </body>
</html>
